header {
    background-image: url(../img/Fundo.jpg);
    background-size: 50%;
    background-repeat: repeat;
    height: 15rem;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    gap: 3rem;
}

.ul {
    display: flex;
    gap: 3rem;
}

.logo {
    height: 100%;
}

.fabinsta {
    font-size: 30px;
    color: blueviolet;
}

a {
    color: blueviolet;
    font-size: 1.3rem;
    font-weight: bold;
}