header {
    background-image: url(../img/Fundo.jpg);
    background-size: 50%;
    background-repeat: repeat;
    height: 15rem;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    gap: 3rem;
}

.ul {
    display: flex;
    gap: 3rem;
}

.logo {
    height: 100%;
}

.fabinsta {
    font-size: 30px;
    color: blueviolet;
}

a {
    color: blueviolet;
    font-size: 1.3rem;
    font-weight: bold;
}

main {
    padding-top: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

.produtos {
    margin: 10px;
    height: 500px;
    width: 90%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 40px pink;
    gap: 10px;
}

.gourmet {
    /* margin: 50px; */
    padding: 20px;
    width: 400px;
    height: 450px;
    border: solid px pink;
    border-radius: 5px;
    width: 360px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.gourmet:hover {
    box-shadow: 0px 0px 70px pink;
}

.doces {
    border-radius: 10px;
    width: 320px;
    height: 150px;
}

.botao {
    color: white;
    background-color: lightpink;
    padding: 5px;
    width: 200px;
    height: 30px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    text-align: center;
}

.botao:hover {
    background-color: violet;
}

.trufa {
    /* margin: 50px; */
    padding: 20px;
    width: 400px;
    height: 450px;
    border: solid px pink;
    border-radius: 5px;
    width: 360px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.trufas {
    border-radius: 10px;
    width: 320px;
    height: 150px;
}
.trufa:hover {
    box-shadow: 0px 0px 70px pink;
}

.bolo {
    /* margin: 50px; */
    padding: 20px;
    width: 400px;
    height: 450px;
    border: solid px pink;
    border-radius: 5px;
    width: 360px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.bolo:hover {
    box-shadow: 0px 0px 70px pink;
}

.bolos {
    border-radius: 10px;
    width: 320px;
    height: 150px;
}