header {
    background-image: url(/img/Fundo.jpg);
    background-size: 50%;
    background-repeat: repeat;
    height: 15rem;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
}

.navbar {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.ul {
    display: flex;
    gap: 3rem;
}

.logo {
    height: 100%;
}

a {
    color: blue;
    font-size: 1.3rem;
    font-weight: bold;
}

main {
    padding-top: 15rem;
}

.doce {
    margin: 50px;
    border: solid 20px;
    border-radius: 20px;
    width: 360px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.doces {
    width: 320px;
    height: 148px;
}

.botao {
    color: white;
    background-color: lightpink;
    padding: 5px;
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}